<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Nizam Aljawabreh">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <script src="{% static 'js/script.js' %}"></script>
    <style>
        #tre{
            float: right;
        }
        box{
            max-width: 150px;
            max-height: 80px;
            border: 1px solid black;
            background-color: gray;
        }
    </style>
    <title>Your Thoughts Page</title>
</head>
<body>
    <a href="/cleanSession" id="tre">Log Out</a>

    <h1>Success! Welcome, {{request.session.thisUsersName}} {{request.session.thisUsersLname}}!</h1>

    <form action="/addThought" method="POST">
        {% csrf_token %}
		<label for="thisID">Your Thought Here:</label><br>
		<textarea name="formDesc" id="thisID" rows="4" cols="35">Post a Great Thought Here!</textarea>
        <input type="submit" value="Submit">
		<input type="reset" value="Empty to Fill Again">
    </form>

    <h2>All Thoughts</h2>
    {% for Thought in Thoughts %}
        <p>{{Thought.uploadeBy.fname}} Says:</p> <br>
        <p class="box">{{Thought.post}}</p> <br>
        <a href="/thought/{{Thought.id}}"> details</a>
    {% endfor %}
 
</body>
</html>