<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
          background-color: linen;
        }
        
        h1 {
          color: maroon;
          margin: 300px auto;
        }
        p{
            background-color: darkcyan;
            color: darkorange;
            padding: 7px;
            display: inline-block;
            width: 300px;
            height: 300px;
        }
        div{
            margin: auto;
        }
        </style>
    <title>Flask</title>
</head>
<body>
    <h1>Welcome</h1>
    <div class="hamburger">
        <p></p>
        <p></p>
        <p></p>
    </div>
        
    <!-- {% for x in range(0,times): %}
        <p>{{ phrase }}</p>
    {% endfor %}
        
    {% if phrase == "hello" %}
      <p>The phrase says hello</p>
    {% endif %} -->

</body>
</html>