<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <script src="{% static 'js/script.js' %}"></script>
    <title>home login page</title>
</head>
<body>
    <div class="container">
        <div class="add">
            <h2>New Registeration</h2>
            <form action="/logreg" method="POST">
                {% csrf_token %}
                <input type="hidden" value="register" name="regOrLog">
                fname <input type="text" name="fname" required><br>
                lname <input type="text" name="lname" required><br>

                birth day <input type="date" name="bday"><br>
                
                email <input type="text" name="email" required><br>
                password <input type="password" name="password" required><br>
                re-password <input type="password" name="repassword" required><br>
                <input type="submit" name="Add" >
            </form>
            <a href="/cleanData">Clear All to start over</a>
        </div>

        {% if messages %}
        <div><ul class="messages">
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </ul></div>
        {% endif %}

        <div class="add2">
            <h2>login here</h2>
            <form action="/logreg" method="POST">
                {% csrf_token %}
                <input type="hidden" value="login" name="regOrLog">
                email <input type="text" name="email"><br><br>
                password <input type="password" name="password" required><br><br>
                <input type="submit" name="Add">
            </form>
        </div>
    </div>


    <div class="userTable">
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Brth Date</th>
                <th>mail</th>
                <th>pass</th>
            </tr>
            {% for elmnt in allUsers %}
            <tr>
                <td>{{ elmnt.id }}</td>
                <td>{{ elmnt.fname }}</td>
                <td>{{ elmnt.lname }}</td>
                <td>{{ elmnt.birthDate }}</td>
                <td>{{ elmnt.email }}</td>
                <td>{{ elmnt.passwd }}</td>
            </tr>
            {% endfor %}
            </table>
    </div>
</body>
</html>