<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gold Digger</title>
</head>
<style>
    h3{
        display: inline-block
    }
    .container{
        display: flex;
        justify-content: space-evenly;
    }
    div{
        background-color: aqua;
        border: 1px solid green;
    }
</style>
<body>
    <h3>your gold</h3>
    <h3>{{request.session.GoldPlus}}</h3>
    <div class="container">
    <div>
        <h2>farm</h2>
        <p>(earns 10-20 golds)</p>
        <form action="/findGold" method="POST">
            {% csrf_token %}
            <input type="hidden" name="whereAmI" value="farm">
            <input type="submit" name="Find Gold">
        </form>
    </div>
    <div>
        <h2>cave</h2>
        <p>(earns 5-10 golds)</p>
        <form action="/findGold" method="POST">
            {% csrf_token %}
            <input type="hidden" name="whereAmI" value="cave">
            <input type="submit" name="Find Gold">
        </form>
    </div>
    <div>
        <h2>house</h2>
        <p>(earns 2-5 golds)</p>
        <form action="/findGold" method="POST">
            {% csrf_token %}
            <input type="hidden" name="whereAmI" value="house">
            <input type="submit" name="Find Gold">
        </form>
    </div>
    <div>
        <h2>casino</h2>
        <p>(earns -50-50 golds)</p>
        <form action="/findGold" method="POST">
            {% csrf_token %}
            <input type="hidden" name="whereAmI" value="casino">
            <input type="submit" name="Find Gold">
        </form>
    </div>
    </div>
    <a href="/startover">Play Again</a>

    <div class="activity">
        {% for something in activities %}
            {% if something.11 == "-" %}
                <p style="color: red;">{{ something }}</p>
            {% else %}
                <p style="color: black;">{{ something }}</p>
            {% endif %}
        {% endfor %}
    </div>
    
</body>
</html>